<!DOCTYPE html> 
<html> 
    <head>
		<meta charset="UTF-8">
		<title>Careclues Admin</title>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/login.css">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
 	</head> 
 	<body>

 	<nav class="navbar navbar-default navbar-fixed-top navbar-top-fixed-banner">
        <div id="headtop">
            <div class="navbar-header table">
                <div class="tablerow1">
                    <div class="cell marketing-background-cell">
                        <a href="/">
                            <img class="marketing-background-logo" src="assets/img/Logo.png"/>
                        </a>
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <a href="javascript:void(0);">Appointments</a>
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <a href="javascript:void(0);">Patients</a>
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <a href="javascript:void(0);">Doctor&staff</a>
                    </div>
                     <div class="cell marketing-background-cell-1">
                        <a href="javascript:void(0);">clinic</a>
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <a href="javascript:void(0);">. . .</a>
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <div class="dropdown pl-dropdown">
						    <button class="btn btn-default pl-btn-default dropdown-toggle" type="button" data-toggle="dropdown">Ruby General hospital
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li><a href="#">Ruby General hospital2</a></li>
						      <li><a href="#">Ruby General hospital3</a></li>
						    </ul>
							</div>
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <img src="">
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <img src="">
                    </div>
                    <div class="cell marketing-background-cell-1">
                        <img src="">
                    </div>
                </div>
            </div>
        </div>
	</nav>